@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.Navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.Navbar h1{
  color: #5735f1;
}

.Navbar .links {
  margin-left: auto;
}

.Navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.Navbar a:hover {
  color: #c535f1;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.project-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.project-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.project-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px; 
}

.project-preview a {
  text-decoration: none;
}